@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/Circular/CircularStd-Light.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/Circular/CircularStd-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/Circular/CircularStd-bold.otf");
  font-weight: 600;
}

@layer base {
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    @apply w-full outline-none rounded-md inline-block  transition-colors duration-200;
  }

  

}

@layer components{
  button{
    @apply transition-colors hover:bg-gray-100 duration-150;
  }

}






